.bc_color{
    background-color: #7d7b7b0a;
    box-shadow: inset -1px -1px 7px 3px green;
}
.anyClass {
    height:150px;
    overflow-y: scroll;
}
.review_hight{
    height:250px
}

.review_hight_div{
    height:400px
}