.bc_color{
  background-color: #7d7b7b0a;
  box-shadow: inset -1px -1px 7px 3px green;
  margin: 0px;
}
.right_side{
  background-color: rgba(255, 255, 255, 0.45);
  width: 600px;
  display: inline-block;}
  .left_side{
    background-color: rgba(255, 255, 255, 0.45);
    width: 896px;
    height: 100px;
    display: inline-block;
    vertical-align: top;
  }
.right_side_contaner{
  background-color: rgba(255, 255, 255, 0.45);
  width: 600px;
  height: 600px;
  display: inline-block;}
  
  .left_side_contaner{
    background-color: rgba(255, 255, 255, 0.45);
    width: 896px;
    height: 600px;
    display: inline-block;
    vertical-align: top;
    }
    
.left_side_all{
  background-color: rgba(255, 255, 255, 0.45);
    width: 700px;
    height: 140px;
    display: inline-block;
    vertical-align: top;
    margin: 2px;
}
.left_side_Impage{
  background-color: yellow;
  width: 140px;
  height: 120px;
  display: inline-block;
  vertical-align: top;
  margin: 2px;
}

.left_side_text{
  background-color: #e5e5e4;
  width: 400px;
  height: 120px;
  display: inline-block;
  vertical-align: top;
  margin: 2px;
  box-shadow: 0 0 10px 2px black;
  margin-left: 55px;
}
.image_setting{
  width: 200px;
  height: 120px;
  box-shadow: 0 0 10px 2px black;
}
.Header_setting{
margin-top: 45px;
}
.body_div{
  height: 1000px;
  width: 1500px;
  background-color: #cac4c4;}
table {
  width: 100%;
  display:block;
}
thead {
  display: inline-block;
  width: 100%;
  height: 20px;
}
tbody {
  height: 200px;
  display: inline-block;
  width: 100%;
  overflow: auto;
}


input[type="text"],
select {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type="password"] {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="date"] {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type="submit"]:hover {
  background-color: #45a049;
}

.label_div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
#error_text {
  color: red;
}

#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td,
#customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers tr:hover {
  background-color: #ddd;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4caf50;
  color: white;
}
