<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>dashboard</title>
        {% load static %}
        <link rel="stylesheet" href="{% static '/css/styles.css' %}">
    </head>

    <body>
        <div class="body_div">
        <div class="bc_color">
                <div class="bc_color">
                    <div class="right_side">
                        <hr>
                        <a href="http://127.0.0.1:8000/">Home</a> | |
                        <a href="/logout">Logout</a>
                        <h5 >Welcome to Restaurent Dashboard:</h5>
                    </div>
                    <div class="left_side">
                        <hr>
                        <h3 class="Header_setting">Restaurent in your near to your Location:</h3>
                    </div>
                </div>
            </div>
            <div class="right_side_contaner">
            <div>
                <p>Your restaurent List</p>
                <table id="customers">
                    <tr>
                        <th>Owner Name</th>
                        <th>Restaurent Name</th>
                        <th>Food Type</th>
                        <th>Address</th>
                        <th>Action</th>
                    </tr>
                    {% for Restaurent in MY_Restaurent %}
                    <tr>
                        <td>
                            <a href="/user_detail_page/{{Restaurent.user.id}}">{{Restaurent.user.name}}</a>
                        </td>
                        <td>
                            <a href="/restaurent_detail/{{Restaurent.id}}">{{Restaurent.name}}</a>
                        </td>
                        <td>{{Restaurent.foodtype}}</td>
                        <td>{{Restaurent.address}}</td>
                        {% if Restaurent.user.id == request.session.user_id %}
                        <td>
                            <a href="/restaurent_edit_page/{{Restaurent.id}}">Edit</a>
                            |
                            <a href="/delete_restaurent/{{Restaurent.id}}">Delete</a>
                        </td>
                        {% else %}
                        <td>
                            <a href="/remove_restaurent/{{Restaurent.id}}">remove
                                from list</a>
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <div>
                <p>Others User's Restaurent</p>
                <table id="customers">
                    <tr>
                        <th>Owner Name</th>
                        <th>Restaurent Name</th>
                        <th>Food Type</th>
                        <th>Address</th>
                        <th>Action</th>
                    </tr>
                    {% for other_rest in Other_Restaurent %}
                    <tr>
                        <td>
                            <a href="/user_detail_page/{{other_rest.user.id}}">{{other_rest.user.name}}</a>
                        </td>
                        <td>
                            <a href="/restaurent_detail/{{other_rest.id}}">{{other_rest.name}}</a>
                        </td>
                        <td>{{other_rest.foodtype}}</td>
                        <td>{{other_rest.address}}</td>
                        <td>
                            <a href="/add_restaurent/{{other_rest.id}}">Add
                                Restautent in my list</a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                <br>
                <div>
                    <button> <a href="/restaurent_page">Add Restaurent</a></button>
                </div>
            </div>
        </div>
        <div class="left_side_contaner">
            <div>
                <div id="customers">
                    {% for Restaurent in all_Restureant %}
                    
                    <div class="left_side_all">
                        <div class="left_side_Impage">
                            {% if Restaurent.thumb%}
                            <img  class="image_setting" src={{Restaurent.thumb.url}}/>
                            {%endif%} 
                        </div>
                        <div class="left_side_text">
                            <hr>
                            <a href="/restaurent_detail/{{Restaurent.id}}">{{Restaurent.name}}</a><br><br>
                            <span>Food Type $$$:{{Restaurent.foodtype}}</span><br>
                            <span>Location:{{Restaurent.address}}</span><br>
                            <span>rating: &#9734; &#9734; &#9734; &#9734; &#9734;{{Restaurent.review}}</span><br>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                </div>
            </div>
        </div>
        </div>
        </div>
    </body>
</html>