<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Edit_Resturent</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/styles.css' %}" />
  </head>

  <body>
    <h3>Edit Your Restaurent</h3>
    <div>
      <form action="edit_restaurent/{{MY_Restaurent.id}}" method="POST">
        <table>
          {% csrf_token %}
          <p>Restaurent Name</p>
          <input type="text" name="name" value="{{MY_Restaurent.name}}"><br>
          <p>Food type</p>
          <input
            type="text"
            name="foodtype"
            value="{{MY_Restaurent.foodtype}}"
            /><br />
          <p>Address</p>
          <input
            type="text"
            name="address"
            value="{{MY_Restaurent.address}}"
            /><br />
          <input type="submit" value="Submit" />
        </table>
      </form>
    </div>
  </body>
</html>
