<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>index</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/styles.css' %}" />
  </head>

  <body>
    <div id="label_div">
      <h3>Welcome to Restaurent!</h3>
      {% if messages %} {% for message in messages %}
      <p id="error_text">{{message}}</p>
      {% endfor %} {% endif %}
      <form action="/register" method="POST">
        {% csrf_token %}
        <p>Name</p>
        <input type="text" name="name" />
        <p>User Name</p>
        <input type="text" name="user_name" />
        <p>Password</p>
        <input type="password" name="password" />
        <p>Password Confirm</p>
        <input type="password" name="password_confirmation" /><br />
        <input type="submit" value="Register" />
      </form>
    </div>
    <div>
      <p>Ready Register user click here <a href="/login_page">Log-In</a></p>
    </div>
  </body>
</html>
