<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>login_page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/styles.css' %}" />
  </head>
  <body>
    <div id="login">
      <form action="/login" method="POST">
        {% csrf_token %}
        <p>User Name</p>
        <input type="text" name="user_name" required>
        <p>PassWord</p>
        <input type="password" name="password" required> <br>
        <input type="submit" value="login">
      </form>
    </div>
  </body>
</html>
