<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>restaurent_page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/styles.css' %}" />
  </head>

  <body>
    <h3>Create Your Restaurent</h3>

    <div>
      <form action="add_restaurent/create_restaurent" method="POST"
        enctype="multipart/form-data">
        <table>
          {% csrf_token %}
          <p>Restaurent Name</p>
          <input type="text" name="name" required><br>
          <p>Food type</p>
          <input type="text" name="foodtype" required><br>
          <p>Address</p>
          <input type="text" name="address" required><br>
          <input type="file" name="thumb" required><br>
          <input type="submit" value="create_restaurent">
        </table>
      </form>
    </div>
  </body>
</html>
