<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>restaurent_detail</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous">
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous">
    </script>
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/restaurant_detail.css' %}">
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 bc_color">
          <hr>
          <a href="http://127.0.0.1:8000/dashboard">Dashboard</a> | |
          <a href="/logout">Logout</a><h4>Detail about the
            Restaruent:{{Restaurent_info.name}}</h4>
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-2 bc_color">
          {% if Restaurent_info.thumb %}
          <img class="image_setting" src='{{Restaurent_info.thumb.url}}'/>
          {%endif%}
        </div>
        <div class="col-3 bc_color">
          <hr>
          <h5>{{Restaurent_info.name}}</h5>
          <hr>
          <span>Total Rating: {{rating_counts}}</span>
          <p>location:{{Restaurent_info.address}}</p>
          <p>Service Date:{{Restaurent_info.created_at}}</p>
          <p>Users Who added this <strong>{{Restaurent_info.name}}
            </strong>under their list</p>
          {% for o in others_Restaurents %}
          <p>{{o.name}}</p>
          {% endfor %}
        </div>
        <div class="col-7 bc_color review_hight_div">
          <hr>
          <h6>Your's reviews & rating for : {{Restaurent_info.name}}</h6>
          <hr>
          <div class="anyClass review_hight">
            {% for r in reviews %}
            <div class="smooth-scroll list-unstyled">
              <p>Rating{{r.rating}}</p>
              <p> <a href="/user_detail_page/{{r.users.id}}">{{r.users.name}}</a>says!{{r.review}}-</p>
              <p>Post On--{{r.created_at |date:'M-d-Y'}}</p>
              <p>---------------------------------------</p>
              <button><a href="review_delete/{{r.id}}">Delete this review</a></button>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <!-- Review submition form start from here -->
      <div class="row">
        <div class="col-5 bc_color">
          <form action="/restaurent_review/{{Restaurent_info.id}}"
            method="POST">
            {% csrf_token %}
            <p>Add review:</p>
            <input type="text" name="review" id="">
            <p>Rating
              <select name="rating">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="4">5</option>
              </select></p>
            <input type="submit" value="submit Review">
            <hr>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
